.max-width-custom{
               width: 1280px;
            margin:auto;
         }

         body{

            font-family: 'Montserrat', sans-serif;
         }
         .table-main{

            width: 100%;

         }
         .w-100{

            width: 100%;
         }

         table tbody tr.main-first td {
    width: 33.33%;
    padding: 5px 15px;
    /*border: 2px solid #000;*/
}
.logo img {
    width: 100%;
    max-width: 280px;
}

.text-heading p {
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0px;
}

.text-heading.text-right {
    text-align: right;
}
tr.main-first {
    border-bottom: 2px solid #000;
}
table.table1 tbody tr td {
    width: 50%;
    vertical-align: top; padding: 15px 15px;
}
.justfy-half {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.justfy-half > div{

    width: 50%;
}
.name h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.text-name p {
    font-size: 17px;
    margin: 0px;
    font-weight: 500;
}

tr.table-2-row {
    border-bottom: 2px solid #000;
}
table.table2 tr.table-3-row {
    border-bottom: 2px solid #000;
}
table.table2 tr.table-3-row td {
    width: 25%;
    vertical-align: top;
    padding: 15px 15px;
}
table.table3 tr.table-4-row {
    border-bottom: 2px solid #000;
}
table.table3 tr.table-4-row td {
    width: 100%;
    vertical-align: top;
    padding: 15px 15px;
}
table.table4 tr.table-5-row {
    border: 2px solid #000;
}
table.table4 tr.table-5-row td {
    width: 100%;
    vertical-align: top;
    padding: 15px 15px;
}

table.table4 tr.table-6-row {
    border: 2px solid #000;
}
table.table4 tr.table-6-row td {
    width: 25%;
    vertical-align: top;
    padding: 15px 15px;
}
.first-half{
    width:50%;
    float:left;
}
.second-half{
    width:50%;
    float:left;
}
.row-section{
    width:100%;
}
.text-heading h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.text-heading-p p {
    font-weight: 400;
    font-size: 15px;
}
.table-row-blank td{

    padding-top: 10px;
}
.text-red p {
    font-size: 1.6rem;
    color: #f00;
    font-family: fangsong;
    font-style: italic;
}
table.table4 tr.table-6-row td:nth-child(3) {
    width: 15%;
    vertical-align: top;
    padding: 15px 15px;
}
table.table4 tr.table-6-row td:nth-child(4) {
    width: 35%;
    vertical-align: top;
    padding: 15px 15px;
}
p.red-text {
    color: #e10000;
}

.no-border-t{

    border-top: 0px!important;
}

table.table4.table-specimen tr.table-5-row td {
    width: 13.33%;
    border-left: 2px solid #000;
}
table.table4.table-specimen tr.table-5-row td:nth-child(1) {
    width: 20%;
}